
#main{
    background-color:rgb(236, 231, 224);
}
.navbar{
    margin-top: 0px;
    background :rgb(226, 182, 125);
    font-family: calibri;
    padding-right: 0px;
    padding-left: 0px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
    
   width: 100%;
}
.logo >a{
    margin-left: 25px;
    text-decoration: none;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: rgb(249, 248, 248);
    margin-top: 0px;

}
.navdiv li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    
}
.navdiv li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 2rem;
    margin-top: 0px;
    text-decoration: none;

}
li:hover a{
    text-decoration: none;
    color: rgb(199, 108, 24);
    border-bottom: 3.5px solid rgb(199, 108, 24);

}
.elements{
    margin-top: px;
    padding: 0px;
}

a{
    color: black;

}

.hero{
    background-image: url("features/home.png");
    background-size: cover;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    margin-right: 0%;
    padding-right: 0%;
    flex-wrap: wrap;
}
.hero > .text{
    padding-top: 200px;
    font-size: 20px;
}
.text>h1{
    color: rgb(193, 131, 50);
}
.text>h2{
    color: rgb(229, 185, 127);
}
.text>h3{
    color: rgb(168, 114, 44);
}
.text>.shop>a{
    text-decoration: none;
    margin-left: 250px;
    /* background-color: rgb(251, 171, 41); */
    background-image: linear-gradient(to right, rgb(247, 194, 110) , rgb(251, 153, 41));

    padding: 5px;
    border-radius: 5px;
    color: white;
}
.text>.shop>a:hover{
    /* background-color:  rgb(253, 179, 60); */
    background-image: linear-gradient(to right, rgb(248, 201, 125) , rgb(252, 160, 55));
}
.shop-section{
    margin-top:20px ;
    display: flex;
    justify-content: space-evenly;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #e6a741;
    border-radius: 4px;
    margin: 15px 0;
    margin-left: 60px;
    
  }
  #feature .fe-box:hover{
    border: 0.5px solid rgb(251, 171, 41);
    box-shadow: 10px 10px 54px rgb(193, 134, 79);
    transform: scale(1.05);
  }
  
  #feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
  }
  #feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 2;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    background-image: linear-gradient(to right, rgb(247, 194, 110) , rgb(251, 153, 41));
  }
  .heading-1{
    text-align: center;
    color: #088178;
  }
  .fe-products  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

  }
.fe-products .fe-pbox{
    /* height: 250px;
    width: 240px;
    border: 2px solid black ;
    margin-top: 30px;
    margin-left: 60px; */
    width: 180px;
    height: 250px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #e6a741;
    border-radius: 4px;
    margin: 15px 0;
    margin-left: 60px;
}
.fe-products .fe-pbox:hover{
    border: 0.5px solid rgb(251, 171, 41);
    box-shadow: 10px 10px 54px rgb(193, 134, 79);
    transform: scale(1.05);
}
.fe-products .fe-pbox img{
    width: 100%;
    /* margin-bottom: 10px; */
}

/* footer */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.col{
    width: 25%;
    padding: 0 15px;
}
.col h4{
    font-size: 18px;
    color: blue;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: 10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;   
}
.col ul li:not(:last-child){
  margin-bottom: 10px;
}
.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
    border-bottom: 3.5px solid white;
    
}
.col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
    .col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .col {
        width: 100%;
    }
}
    
